body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

a {
  color: #e41062;
  text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.avatar {
	border-radius: 50%;
	width: 150px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;

  input {
    border: 1px solid rgba(0, 0, 0, 0.43);
    border-radius: 3px;
    font-size: 16px;
    height: 30px;
    margin: 10px 0;
    width: 80%;
  }

  label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
  }

}

.header {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

.languages {
	display: flex;
  justify-content: center;

  li {
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
  }

}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.popular-item {
	margin: 20px;
	text-align: center;
}

.popular-rank {
	font-size: 20px;
	margin: 10px;
}

.space-list-items {
	margin-bottom: 7px;
}

.loading {
	align-items: center;
	display: flex;
	justify-content: center;
}

.spinner {
	animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
  	transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
}

@keyframes colors {
  0% {
		stroke: #e41062;
  }
  25% {
		stroke: #0d223c;
  }
  50% {
    stroke: #e7fd46;
  }
  75% {
    stroke: #5aB9cf;
  }
  100% {
    stroke: #fd9035;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.nav {
  display: flex;

  li {
    margin-right: 15px;
  }

}

.active {
  font-weight: bold;
}

.home-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.button {
  background-color: #fff;
  border: 2px solid #0d223c;
  border-radius: 40px;
  color: #0d223c;
  cursor: pointer;
  height: 40px;
  letter-spacing: 1px;
  outline: none;
  text-align: center;
  text-shadow: 0;
  transition: all 0.25s ease;
  width: 130px;

  font: {
    size: 12px;
    weight: bold;
  }

  &:active {
    letter-spacing: 2px;
  }

  &:hover {
    background: linear-gradient(#5aB9cf, #e41062);
    color: #fff;
  }
}